---
import { ResumePdf } from "../../../components/resume/ResumePdf";
import ResumeLayout from "../../../layout/ResumeLayout.astro";
import { Backend } from "../../../services/backend";
import { sortEducationsByNewestFirst } from "../../../services/types/Education";
import { sortExperiencesByNewestFirst } from "../../../services/types/Experience";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const backend = new Backend(Astro.locals.token);
const resume = await backend.getResume(id);
const profile = await backend.getUserProfile();
const educations = await backend.listUserEducations();
const experiences = await backend.listUserExperiences();

const filteredEducations = educations.filter((education) =>
  resume.educations.includes(education.id)
);
const filteredExperiences = experiences.filter((experience) =>
  resume.experiences.includes(experience.id)
);

sortEducationsByNewestFirst(filteredEducations);
sortExperiencesByNewestFirst(filteredExperiences);
---

<ResumeLayout resume={resume}>
  <div>
    <h1 class="text-center mb-4">Review</h1>
    <ResumePdf
      resume={resume}
      profile={profile}
      educations={filteredEducations}
      experiences={filteredExperiences}
      client:only
    />
    <div class="flex justify-center mt-4">
      <a class="btn btn-primary btn-wide" href="/resumes">
        Go back to my resumes
      </a>
    </div>
  </div>
</ResumeLayout>
