---
import ListItem from "../../../components/ListItem.astro";
import ResumeLayout from "../../../components/layout/ResumeLayout.astro";
import { backend } from "../../../services/backend";
import { EducationPdfPreview } from "../../../components/react/pdf/EducationPdfPreview";
import { SetSharedEducations } from "../../../components/react/education/SetSharedEducations";
import { AddEducationButton } from "../../../components/react/education/AddEducationButton";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const educations = await backend.getUserEducations();
---

<ResumeLayout>
  <div class="flex space-x-4">
    <div class="w-80 form-card">
      <div class="space-y-2">
        {
          educations.map((education) => (
            <ListItem
              href={`/resumes/${id}/educations/${education.id}`}
              title={education.title}
              subtitle={education.institution}
            />
          ))
        }
      </div>
      <div class="flex flex-col items-center mt-4 space-y-2">
        <AddEducationButton resumeId={id} client:load />
        <a href={`/resumes/${id}/experiences`}>
          <button class="btn btn-primary btn-wide">Save and Continue</button>
        </a>
      </div>
    </div>
    <div class="w-80 form-card">
      <SetSharedEducations educations={educations} client:load />
      <EducationPdfPreview client:load />
    </div>
  </div>
</ResumeLayout>
