---
import { ResumePdf } from "../../../components/resume/ResumePdf";
import ResumeLayout from "../../../layout/ResumeLayout.astro";
import { Backend } from "../../../services/backend";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const backend = new Backend(Astro.locals.token);
const resume = await backend.getResume(id);
const profile = await backend.getUserProfile();
const educations = await backend.listUserEducations();
const experiences = await backend.listUserExperiences();
---

<ResumeLayout resume={resume}>
  <div>
    <h1 class="text-center mb-4">Review</h1>
    <ResumePdf
      resume={resume}
      profile={profile}
      educations={educations}
      experiences={experiences}
      client:only
    />
    <div class="flex justify-center mt-4">
      <a class="btn btn-primary btn-wide" href="/resumes">
        Go back to my resumes
      </a>
    </div>
  </div>
</ResumeLayout>
